<header class="unit xs-1 s-1 m-1 l-1 push-0 absolute w-1 zindex-3">
    <div class="bar clearfix masthead push-none pad-t-1-2 gutter">
      <div class="push-none gutter-1-2">
        <a href="index.html">
          <i class="icon i-size">
            <img src="images/logo.svg" alt="">
          </i>
        </a>
      </div>
      <nav role="navigation" id="nav">
        <input type="checkbox" class="nav-check" id="nav-check">
        <label class="nav-label" for="nav-check">
          <i class="nav-open icon i-size">
            <img src="images/toggle-open.svg" alt="Open Navigation"/>
          </i>
          <i class="nav-close icon i-size">
            <img src="images/toggle-close.svg"alt="Close Navigation"/>
          </i>
        </label>
        <ul class="nav text-center list-group push-0 milli">
          <li class="nav-list island-1-2 gutter-1-4 text-center"><a href="{{site.baseurl}}/#aboutme">About Me</a></li>
          <li class="nav-list island-1-2 gutter-1-4 text-center"><a href="#portfolio">Portfolio</a></li>
          <li class="nav-list island-1-2 gutter-1-4 text-center"><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
