<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Jenna Brady</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" type="image/svg" href="{{site.baseurl}}/images/favicon.svg">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
</head>
<body class="grid">
  {{content}}
  {% include nav.html %}
  <footer class="unit xs-1 s-1 island-2 pad-b-2  text-center">
    <small class="micro pad-t-2 pad-b-2 "> ©2017 all rights reserved Jenna Brady</small>
  </footer>
  <script src="js/rellax.min.js"></script>
  <script>
  // Accepts any class name
  var rellax = new Rellax('.rellax');
  </script>
  <script>
  // Also can pass in optional settings block
  var rellax = new Rellax('.rellax', {
    speed: -2,
    center: false,
    round: true,
    vertical: true,
    horizontal: false
  });
  </script>
  <script>
  // Center all the things!
  var rellax = new Rellax('.rellax', {
    center: true
  });
  </script>
  </body>
</html>
